
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  min-height: 100vh;
  justify-content: space-between;
}

#header{
  position: sticky;
  z-index: 999;
  top: -10px;
  box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
  width: 100%;
  opacity: 80;
  background-color: black;
  color: white;
  display: flex;  
  flex: 1;
  justify-content: center;
}

#locationForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-color: white;
  border-width: 1px;
  border-style:dashed;
  padding: 0px 40px;
}

#mainContent{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  background-color: #cccccc;
  flex: 2;
  
}

#mainContentMid{
  display: flex;
  justify-content: space-around;
}

#footer{
  background-color: black;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}


.current{
  background-color: rebeccapurple;
}